**/__pycache__
**/.pytest_cache
build/

# LaTeX temporary files
*.aux
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# For compiling latex localle
compile_latex.ipynb
